
<tr>
  <td><%= friend.first_name %></td>
  <td><%= friend.last_name %></td>
  <td><%= friend.email %></td>
  <td><%= friend.phone %></td>
  <td><%= friend.instagram %></td>
  <td> <%= link_to "Show this friend", friend %> </td>
</tr>