<h1>Friends</h1>

<br/>

<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Instagram</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
      <div id="friends">
        <% @friends.each do |friend| %>          
            <%= render friend %>
        <% end %>
      </div>
  </tbody>
</table>

<br/>

<%= link_to "New friend", new_friend_path, class:"btn btn-secondary" %>