<div class="container-fluid p-5 bg-light">
  <h1 class="display-2">
    <%= @friend.first_name %>
    <%= @friend.last_name %>
  </h1>
  <p>
  <%# class="lead" %>
    <%= @friend.email %> |
    <%= @friend.phone %> |
    <%= @friend.instagram %>  
  </p>
  <div>
    <br/>
    <%= link_to "Edit this friend", edit_friend_path(@friend), class:"btn btn-secondary" %> 
    <%= link_to "Back to friends", friends_path, class:"btn btn-secondary" %>
    
    <br/><br/>
    <%= button_to "Destroy this friend", @friend, method: :delete, class:"btn btn-danger" %>
  </div>
</div>
